* { 
 box-sizing: border-box;
}

header {
 background-color:#E0CCED; 
 color:#FFFFFF; 
 text-align: center;
}

header a {
 text-decoration: none
}

header :link {
 color: #FFFFFF
}

header :visited {
 color: #FFFFFF
}

header :hover {
 color: #FFFFFF
}

body {
 background-color:#A891B8; 
 color:#555555; 
 font-family: Arial, Helvetica, sans-serif;
}

nav {
 font-weight: bold; 
 text-decoration: none; 
 padding: 0; 
 font-size: 120%; 
 text-align: center;
} 

nav a {
 text-decoration: none;
}

nav ul {
 list-style-type: none; 
 margin: 0; 
 padding-left: 0; 
 font-size: 1.2em;
}

nav ul :link {
 color: #2F1B3D
}
 
nav ul :visited {
 color: #FFFFFF
}

nav ul :hover {
 color: #A52A2A
}

nav li {
 border-bottom: 1px solid #2F1B3D
}

main {
 padding-top:1px; 
 padding-right:20px; 
 padding-bottom:20px; 
 padding-left:30px; 
 display: block; 
 background-color: #FFFFFF; 
 overflow: auto;
}

h1 {
 margin-bottom: 0; 
 font-family: Georgia,'Times New Roman', serif; 
 margin-top: 0; 
 letter-spacing: 0.25em; 
 padding-top: .5em; 
 padding-bottom: .5em; 
}
    
h2 {
 color:#2F1B3D; 
 font-family: Georgia,'Times New Roman', serif; 
 text-shadow: 1px 1px #CCCCCC;
}

h3 { 
 font-family: Georgia,'Times New Roman', serif; 
 color: #2F1B3D;
}

dt {
 color:#2F1B3D;
}

.resort {
 color:#1976D2; 
 font-weight: bold;
}

#contact {
 font-size: 90%;
}

#wrapper {
 background-color:#A891B8; 
 background-image:linear-gradient(to bottom, #E0CCED, #A891B8);
}

#homehero {
 height:500px; 
 background-image: url(bookandtea.jpg); 
 background-size: 100% 100%;
 background-repeat: no-repeat;
}  
        
main ul {
 list-style-image: url(marker.gif);
}

footer {
 font-size: 75%; 
 font-style: italic; 
 text-align: center; 
 font-family: Georgia, 'Times New Roman', serif; 
 padding:2em;
 background-color: #FFFFFF;
}

@media (min-width: 600Px) {
 nav ul { 
       display: flex;
       flex-direction: row; 
       flex-wrap: nowrap; 
       justify-content: space-around; 
      }
 nav li { 
       border-bottom: none;
      }
 section {
       margin-left: 2em; 
       margin-right: 2em;
       flex: 1;
      }
 .flow {
       display: flex; 
       flex-direction: row; 
      }
 }


@media (min-width: 1024px) {
 #wrapper {
      margin: auto; 
      width: 80%; 
      border: 1px solid #2F1B3D; 
      box-shadow: 3px 3px 3px #2F1B3D;
}
 nav {
      text-align: left; 
      padding-left: 1em;
}
@supports (display:grid) {
 nav ul {
      flex-direction: column;
      padding-top: 1em;
      }
 .hero {
      grid-area: hero;
 }
 header {
      grid-area: header;
 }
 nav {
      grid-area: nav;
}
main {
      grid-area: main;
}
footer {
      grid-area: footer;
}
#wrapper {
      display: grid;
      grid-template: 
        "header header"
        "nav hero"
        "nav main"
        "nav footer"
         /180px 1fr;
}
 }
}
     
